[Unit]
Description=Borg Backup
# Run `systemctl list-unit-files --type=mount` to see mounts on your machine
# below is configured for a samba share that I specify in my fstab
After=network-online.target mnt-mysambashare-backup.mount
Requires=mnt-mysambashare-backup.mount

[Service]
Type=oneshot
# 
ExecStart=/usr/local/bin/borg-backup.sh
User=root
Group=root
StandardOutput=journal
StandardError=journal
